@import '../../../styles/variables';

.form-group {
  margin-bottom: $spacer;

  .label {
    display: block;
    font-weight: 500;
    margin-bottom: $spacer * 0.5;
  }

  .form-control {
    display: block;
    width: 93%;
    resize: vertical;
    padding: $spacer * 0.5 $spacer;
    font-size: 1rem;
    line-height: 1.5;
    border: $border-width solid $gray-300;
    border-radius: $border-radius;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: rgb(36 49 67);
    color: rgb(226 232 240);
    border-color: #e2e8f00d;
    border-radius: 00.7rem;

    &:focus {
      border-color: rgb(51 66 85);
      outline: 0;
    }
  }
}